<!-- %= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' % -->

<div class="center hero-unit" id="tabletab-staticpages">
	<dl class="dl-horizontal" id="title-bar">
       <dt>
		<%= link_to image_tag("Tabletab-Lesstransparent25.png", alt: "TABLETAB", :height => "50%", :width => "50%", :style => "opacity:0.9", :filter =>"alpha(opacity=99)"), root_path %>
		</dt>
		<dd>
		<h1>Restaurant Management</h1>
	  </dd>
   </dl>
  
<br><br>

<p>
Welcome to the administration module of TableTab. From here you can register and manage your restaurant, your table settings and your menus. It is also here you access the operation module, which you and your staff use to manage the orders received from customers, and download daily, weekly and monthly reports.
</p>
<br><br />
<p>
If you are a new user you can <strong><%= link_to "click here", sign_up_path %></strong> to register your restaurant. It is all free initially. When you decide to start using the system with customers you will register for the transaction module separately and choose your plan. Your plan can either be a prepaid fixed monthly fee (plus transactions fee to the chosen payment gateway) or a post paid transaction based fee to TableTab, that is added to the transaction fee payable to the payment gateway.
</p>
<br><br>
<p>
Existing users can access their account by  <strong><%= link_to "clicking here", log_in_path %></strong>
  </p>
<br>

</div>
<footer class="footer">
  <small>
    <a href="http://www.tabletab.sg/">TABLETAB</a>
    by Michael Nielsen and Michael Hansen
  </small>
  <nav>
	
    <ul>
	   <li>
		 <% if current_user %>
		    Logged in as <%= current_user.email %>.
		    <%= link_to "Log out", log_out_path %>
		  <% else %>
		    <%= link_to "Sign up", sign_up_path %> or
		    <%= link_to "log in", log_in_path %>
		  <% end %>
		</li>
		<% if not current_user %>
	  	<li><%= link_to " Home ",    root_path %></li>
          <li><%= link_to " Help ",    help_path %></li>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.tabletab.sg/">TABLETAB news</a></li>
      <% end %>
    </ul>
  </nav>
</footer>


