<br><br>
<% provide(:title, 'Login') %>
<h1>Log in</h1>

<div class="row">
  <div class="span6 offset3">
<%= form_tag sessions_path do %>
 
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  
    <%= label_tag :password %>
    <%= password_field_tag :password %>
 
  <%= submit_tag "Login", class: "btn btn-large btn-primary" %>
<% end %>



</div>
</div>