<br><br>
<%= form_for(@menu, :html => {:multipart => true}) do |f| %>
  <%= f.hidden_field :restaurant_id, :value => current_user.activeRestaurant_id %>
  <% if @menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
      <% @menu.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   
  
  <div class="row showgrid menu-list"> 
        
          <div class="span2">
          <div class="thumbnail float-left">
            <img src="http://res.cloudinary.com/zonarplanet-com/image/upload/sample.jpg" alt="">
            <%= f.label "Change the image" %><br />
            <!-- %= f.text_field :image % -->
            <%= f.file_field :image %>
          </div>
          
          </div> <!-- span2 -->
          
          <div class="span6">
            <div class="field">
              <%= f.label :category %><br />
              <%= f.text_field :category %>
            </div> <br>      
            <div class="field">
              <%= f.label :title %><br />
              <%= f.text_field :title %>
             </div>
     
           <div class="menu-explanation">
             <div class="field">
               <%= f.label :description %><br />
               <%= f.text_area :description, rows: 4 %>
             </div>
             <p>Happy hour</p>
             <div class="field">
              <%= f.label :happyhourfrom %><br />
              <%= f.time_select :happyhourfrom %>
             </div>
             <div class="field">
              <%= f.label :happyhourto %><br />
              <%= f.time_select :happyhourto %>
             </div>
             <div class="field">
               <%= f.label :happyhourprice %><br />
               <%= f.text_field :happyhourprice %>
             </div>
           </div>
       
           
           
          </div> <!-- span6 -->
        
       <div class="span2">
         <div class="field">
           <%= f.label :price %><br />
           <%= f.text_field :price %>
         </div>
       </div>
       <div class="span3">
 	      <div class="actions ">
           <%= f.submit 'Commit', :class => 'btn btn-primary btn-large' %>
          </div>
      </div>
       
      </div> <!-- row -->
<% end %>
