<br><br>
<h1>The Main Menu</h1>
<h2>This list of menu items reflects all menus available for all the restaurants</h2>
<h2>managed by the user currently logged in.</h2>
<p>Please select the menu Items you want to display for the active restaurants menu display.</p>

  
     <!-- div class="menu_item"  -->
     
      <% @menus.each do |menu| %>
       <div class="row showgrid menu-list"> 
        
          <div class="span2">
          <div class="thumbnail float-left">
         <img src="http://placehold.it/50x50" alt="">
          <%= menu.image %>
          </div>
          </div>
          <div class="span6">
 
            <!-- h2><%= menu.category %></h2><br  -->      
            <h3><%= menu.title %></h3><br>
     
           <div class="menu-explanation">
             <p><%= truncate(strip_tags(menu.description), length: 80) %></p>
             <p><%= menu.happyhourfrom.strftime("%H.%M %p") %></p>
             <p><%= menu.happyhourto.strftime("%H.%M %p") %></p>
             <p><%= menu.happyhourprice %></p>
           </div>
       
           
           
          </div> <!-- span6 -->
        
       <div class="span2">
        <h1 class="menu-list"><%= menu.price %></h1>

		<%= form_for(menu, :html => {:multipart => true}) do |f| %>
		  <%= f.hidden_field :restaurant_id, :value => current_user.activeRestaurant_id %>
		  <% if menu.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

		      <ul>
		      <% menu.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>

		<p><%= f.check_box :displayonmobilemenu_id %></p>
		<div class="actions ">
	       <%= f.submit 'Commit', :class => 'btn btn-primary btn-large' %>
	      </div>
	<% end %> <!-- form -->
	
       </div>
       <div class="span3">
			<% if menu.restaurant_id %>
			 <p>"DEBUG restaurant reference: "<%= menu.restaurant_id %></p>
			 <% end %>
 	      <dl >
		   	<dd><%= link_to "Add to cart", '', class: "btn btn-small btn-primary" %> 
			   </dd>
 	       <dt>
 	        <%= link_to 'Show', menu %>
 	       </dt>
 	       <dt>
 	         <%= link_to 'Edit', edit_menu_path(menu) %>
 	       </dt>
 	       <dt>
 	         <%= link_to 'Destroy', menu, method: :delete, data: { confirm: 'Are you sure?' } %>
 	       </dt>
 	      </dl>
      </div>
 	   
      
      </div> <!-- row -->
     

<% end %>


      


 <!-- /div --> <!-- menu-item -->
<br />

<%= link_to 'New Menu', new_menu_path %>
