<br><br>
<p id="notice"><%= notice %></p>


<div class="row showgrid menu-list"> 
        
          <div class="span2">
          <div class="thumbnail float-left">
         <img src="http://res.cloudinary.com/zonarplanet-com/image/upload/sample.jpg" alt="">
          <%= @menu.image %>
          </div>
          </div>
          <div class="span6">
            <p>Category :
            <%= @menu.category %></P><br>      
            <h3><%= @menu.title %></h3><br>
     
           <div class="menu-explanation">
             <p><%= truncate(strip_tags(@menu.description), length: 80) %></p>
             <p>Happy hour</p>
             <p><%= @menu.happyhourfrom.strftime("%H.%M %p") %></p>
             <p><%= @menu.happyhourto.strftime("%H.%M %p") %></p>
             <p><%= @menu.happyhourprice %></p>
           </div>
       
           
           
          </div> <!-- span6 -->
        
       <div class="span2">
        <h1 class="menu-list"><%= @menu.price %></h1>
       </div>
       <div class="span3">
 	      <dl >
 	       <dt>
 	        <%= link_to 'Edit', edit_menu_path(@menu) %>
 	       </dt>
 	       <dt>
 	         <%= link_to 'Back', menus_path %>
 	       </dt>
 	      </dl>
      </div>
       
      </div> <!-- row -->


