<% provide(:title, 'Edit user') %>

     <div class="row">
            <div class="span9 offset1">
               <p id="EditUser">
          		Update your profile information
               </p>
            </div>
     </div>
     <br/>
     <div class=row"">
          <div class="span6 offset1">
               <%= form_for @user , :html => {:class =>"form-horizontal"} do |f| %>
                   
                     <fieldset>
						   <div class="control-group user_edit">
                               <%= f.label "Full name:     ",:class => "control-label" %>
                              <div class="controls">
                                    <%= f.text_field :name %>
                              </div>
                           </div>

						   <div class="control-group user_edit">
                               <%= f.label "Phone:     ",:class => "control-label" %>
                              <div class="controls">
                                    <%= f.text_field :phone %>
                              </div>
                           </div>

                           <div class="control-group user_edit">
                               <%= f.label "User Name:     ",:class => "control-label" %>
                              <div class="controls">
                                    <%= f.text_field :email %>
                              </div>
                           </div>

                         <div class="control-group user_edit">
                               <%= f.label "Password:", :class => "control-label" %>
                                <div class="controls">
                                    <%= f.password_field :password , :placeholder => "password"%>
                                </div>
                         </div>

                         <div class="control-group user_signup">
                               <%= f.label "Confirm Password:", :class => "control-label" %>
                              <div class="controls">
                                    <%= f.password_field :password_confirmation, :placeholder => "password" %>
                              </div>
                         </div><br/>
                         <div class="form-action span4 offset5">
                              <%= f.submit "Submit", :id => "editButton", :class => 'btn-warning btn-primary btn-large' %><br/>
                         </div>
                     </fieldset>

               <% end %>

                    <div class="row">
                           <div class="span9 offset1">
                              <p id="signup-Confirm">
          (Please go to your mailbox and click the link to Confirm your registration.)
                    		 </p>
                 		  </div>
          			</div>
          </div>
     </div>
 
