
<% provide(:title, 'Sign up') %>
<!-- div class="restaurantContent" -->

     <div class="row-fluid">
          <div class="span3 offset7">
               <h1 id="signup">1 of 6</h1>
          </div>
     </div>
     <div class="row">
            <div class="span9 offset1">
               <p id="signup">
          Please register with Username and Password. We will send you a confirmation e-mail with a link.
               </p>
            </div>
     </div>
     <br/>
     <div class=row"">
          <div class="span6 offset1">
               <%= form_for @user , :html => {:class =>"form-horizontal"} do |f| %>
                   
                     <fieldset>
						   <div class="control-group user_signup">
                               <%= f.label "Name:     ",:class => "control-label" %>
                              <div class="controls">
                                    <%= f.text_field :name, :placeholder => "Your Name" %>
                              </div>
                           </div>

						   <div class="control-group user_signup">
                               <%= f.label "Phone:     ",:class => "control-label" %>
                              <div class="controls">
                                    <%= f.text_field :phone, :placeholder => "Phone number" %>
                              </div>
                           </div>

                           <div class="control-group user_signup">
                               <%= f.label "User Name:     ",:class => "control-label" %>
                              <div class="controls">
                                    <%= f.text_field :email, :placeholder => "email" %>
                              </div>
                           </div>

                         <div class="control-group user_signup">
                               <%= f.label "Password:", :class => "control-label" %>
                                <div class="controls">
                                    <%= f.password_field :password , :placeholder => "password"%>
                                </div>
                         </div>

                         <div class="control-group user_signup">
                               <%= f.label "Confirm Password:", :class => "control-label" %>
                              <div class="controls">
                                    <%= f.password_field :password_confirmation, :placeholder => "password" %>
                              </div>
                         </div><br/>
                         <div class="form-action span4 offset5">
                              <%= f.submit "Sign Up", :id => "signupButton", :class => 'btn-warning btn-primary btn-large' %><br/>
                         </div>
                     </fieldset>

               <% end %>

                    <div class="row">
                           <div class="span9 offset1">
                              <p id="signup-Confirm">
          (Please go to your mailbox and click the link to Confirm your registration.)
                    		 </p>
                 		  </div>
          			</div>
          </div>
     </div>
 
