<br><br>
<% provide(:title, @user.email) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <!-- %= gravatar_for @user % -->
		<%= @user.name %>
      </h1>
	  <p>
		<%= @user.phone %>
        <%= @user.email %>
	  </p>
	
	  <% if @user.restaurants.any? %>
		<p>You have <%= @user.restaurants.count %> registered restaurants</p>
		<p>DEBUG active restaurant is:  <%= @user.activeRestaurant_id %> </p>
		<p>Click here to <%= link_to "Manage RESTAURANT", restaurants_path %></p>
		
		<%= form_for @user , :html => {:class =>"form-horizontal"} do |f| %>
		<!-- the collection_select method takes the parameters as described below:
			 The :user is the object for the user-table, and the :activeRestaurant_id is the item we 
			want to update in that table.
			The @user.restaurants.all will populate the combobox with the items that are related to 
			only that user. and the :id and :name are the items in the combobox. when an item is selected
			the :activeRestaurant_id will hold the selected :id.
		-->
		<%= collection_select( :user, :activeRestaurant_id , @user.restaurants.all, :id , :name) %>
	  
			  
              <%= f.submit "Submit", :id => "editButton", :class => 'btn-warning btn-primary btn-large' %><br/>
       
		<% end%>
      <% end %>

    </section>
  </aside>
</div>