<br><br>

<h1>Tableid: <%= @table.id %>
</h1>
<p>Table number: <%= @table.tablenumber %>
</p>
<p>Restaurant id: <%= @table.restaurant_id %>
</p>

<p> menu items: <%= @menu.count %><p>

<% @menu.each do |menu| %>

   <div class="row showgrid menu-list"> 
    
      <div class="span2">
      <div class="thumbnail float-left">
     <img src="http://placehold.it/50x50" alt="">
      <%= menu.image %>
      </div>
      </div>
      <div class="span6">

        <!-- h2><%= menu.category %></h2><br  -->      
        <h3><%= menu.title %></h3> <p>menu id : <%= menu.id %></p><br>
 
       <div class="menu-explanation">
         <p><%= truncate(strip_tags(menu.description), length: 80) %></p>
         <p><%= menu.happyhourfrom.strftime("%H.%M %p") %></p>
         <p><%= menu.happyhourto.strftime("%H.%M %p") %></p>
         <p><%= menu.happyhourprice %></p>
       </div>
   
       
       
      </div> <!-- span6 -->
    
   <div class="span2">
    <h1 class="menu-list"><%= menu.price %></h1>
   </div>
	<%= form_tag( :controller => "orders",  :method => :post, :action => "place_order") do  %>
	
	  
	  <% if menu.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

	      <ul>
	      <% menu.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
      <div class="span3">
		<% if menu.restaurant_id %>
		 <p>"DEBUG restaurant reference: "<%= menu.restaurant_id %></p>
		<% end %>
      <dl >
	   	<dd><%= link_to "Order", place_order_path(:menu_id => menu.id), class: "btn btn-small btn-primary" %> 
	    </dd>
       
      </dl>
   </div>
 	<% end %> <!-- form -->
   
  
  </div> <!-- row -->
 

<% end %>