<br><br>
<%= form_for(@table) do |f| %>
  <%= f.hidden_field :restaurant_id, :value => current_user.activeRestaurant_id %>
  <% if @table.errors.any? %>
   <div id="error_explanation">
      <h2><%= pluralize(@table.errors.count, "error") %> prohibited this table from being saved:</h2>
     <ul>
        <% @table.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
<div class="row showgrid table-list"> 
    <div class="span2">
          <div class="thumbnail float-left">
         <img src="http://res.cloudinary.com/zonarplanet-com/image/upload/sample.jpg" alt="">
          <!-- %= @menu.picture % -->
          </div>
          </div>
          <div class="span6 table-explanation">
            <div class="field">
             <%= f.label :tablenumber %><br />
             <%= f.text_field :tablenumber %>
          </div>
         <div class="field">
           <%= f.label :tablename %><br />
           <%= f.text_field :tablename %>
         </div>
          </div> <!-- span6 -->
        
       
       <div class="span3 last">
 	       
        <div class="actions">
          <%= f.submit 'Update table', :class => 'btn btn-primary btn-large' %>
        </div>

      </div>
       
      </div> <!-- row -->
<% end %>