
<h1>Manage tables</h1>

<!-- create the code for creating several tables at once. in the controller is already the method -->



 <% @tables.each do |table| %>
       <div class="row showgrid table-list"> 
        
          <div class="span2">
          <div class="thumbnail float-left">
         <img src="http://placehold.it/50x50" alt="">
          <!-- %= table.picture % -->
          </div>
          </div>
          <div class="span6">
      
            <h3><%= "Table number: "+table.tablenumber %></h3><br>
     
           <div class="table-explanation">
             <p><%= "Table name: "+table.tablename %></p>
             <% if table.restaurant_id %>
			 <p>"DEBUG restaurant reference: "<%= table.restaurant_id %></p>
			 <% end %>
           </div>
         
          </div> <!-- span6 -->
        
       <div class="span2">
       </div>
       <div class="span3">
 	      <dl >
 	       <dt>
 	        <%= link_to 'Show', table %>
 	       </dt>
 	       <dt>
 	         <%= link_to 'Edit', edit_table_path(table) %>
 	       </dt>
 	       <dt>
 	         <%= link_to 'Destroy', table, method: :delete, data: { confirm: 'Are you sure?' } %>
 	       </dt>
 	      </dl>
      </div>
 	   
      
      </div> <!-- row -->
     

<% end %>

<br />

<%= link_to 'New Table', new_table_path %>
