<br><br>
<p id="notice"><%= notice %></p>


<br><br>
<div class="row showgrid table-list"> 
        
    <div class="span2">
          <div class="thumbnail float-left">
         <img src="http://res.cloudinary.com/zonarplanet-com/image/upload/sample.jpg" alt="">
          <!-- %= @menu.picture % -->
          </div>
          </div>
          <div class="span5 table-explanation">
            <p>
              <!-- generate the URL for submitting for the QR code -->
              <p><%= request.host_with_port+table_path(@table) %></p>
              <b>Tablenumber:</b>
              <%= @table.tablenumber %>
            </p>
            <p>
              <b>Tablename:</b>
              <%= @table.tablename %>
            </p>
          </div> <!-- span6 -->
        
       
       <div class="span5 last">
 	      <dl >
 	       <dt>
 	        <%= link_to 'Edit', edit_table_path(@table) %>
 	       </dt>
 	       <dt>
 	         <%= link_to 'Back', tables_path %>
 	       </dt>
		   <dt>
 	         <%= link_to 'Make new Order',  %>
 	       </dt>
		   <dt>
 	         <%= link_to 'List orders',  %>
 	       </dt>
 	      </dl>
      </div>
       
      </div> <!-- row -->

