<%= form_for(@restaurant) do |f| %>
	<%= f.hidden_field :user_id, :value => current_user.id %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% @restaurant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Restaurant name" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :street %><br />
    <%= f.text_field :street %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label "Restaurant size" %><br />
    <%= f.text_field :restaurantSize %>
  </div>
  <div class="field">
    <%= f.label "Number of staff pr shift" %><br />
    <%= f.number_field :numberOfStaffPrShift %>
  </div>
  <div class="field">
    <%= f.label "Restautant type" %><br />
    <%= f.text_field :restaurantType %>
  </div>
  <div class="field">
    <%= f.label :franchise %><br />
    <%= f.check_box :franchise %>
  </div>
  <div class="actions">
    <%= f.submit 'Commit', :class => 'btn btn-primary btn-large' %>
  </div>
<% end %>
