<h1>Listing restaurants</h1>

<table>
 


<% @restaurants = Restaurant.where(:user_id => current_user.id) %>
<% @restaurants.each do |restaurant| %>
   <div class="row showgrid"> 
    
      <div class="span6">   
        <h3><%= restaurant.name %></h3><br>
 
       <div class="">
		 <p><%= restaurant.street %></p>
	     <p><%= restaurant.city %></p>
		 <p><%= restaurant.state %></p>
		 <p><%= restaurant.zip %></p>
		 <p><%= restaurant.country %></p>
	     <p><%= restaurant.phone %></p>
         <p><%= restaurant.restaurantSize %></p>
         <p><%= restaurant.numberOfStaffPrShift %></p>
         <p><%= restaurant.restaurantType %></p>
         <p><%= restaurant.franchise %></p>
       </div>
   
       
       
      </div> <!-- span6 -->
    
   <div class="span3">
      <dl >
	   	
       <dt>
        <%= link_to 'Show', restaurant %>
       </dt>
       <dt>
         <%= link_to 'Edit', edit_restaurant_path(restaurant) %>
       </dt>
       <dt>
         <%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %>
       </dt>
      </dl>
  </div>
   
  
  </div> <!-- row -->
 

<% end %>

<!-- /div --> <!-- restaurant -->

<br />

<%= link_to 'New Restaurant', new_restaurant_path %>
