<br><br>
<p id="notice"><%= notice %></p>

<div class="row showgrid"> 
<div class="span6">
	
<p>
  <b>Restaurant name:</b>
  <%= @restaurant.name %>
</p>

<div class="">
<p>
  <b>Street:</b>
  <%= @restaurant.street %>
</p>

<p>
  <b>City:</b>
  <%= @restaurant.city %>
</p>

<p>
  <b>State:</b>
  <%= @restaurant.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @restaurant.zip %>
</p>

<p>
  <b>Country:</b>
  <%= @restaurant.country %>
</p>

<p>
  <b>Phone:</b>
  <%= @restaurant.phone %>
</p>

<p>
  <b>Restaurant size:</b>
  <%= @restaurant.restaurantSize %>
</p>

<p>
  <b>Number of staff pr. shift:</b>
  <%= @restaurant.numberOfStaffPrShift %>
</p>

<p>
  <b>Restaurant type:</b>
  <%= @restaurant.restaurantType %>
</p>

<p>
  <b>Franchise:</b>
  <%= @restaurant.franchise %>
</p>
</div>
 </div> <!-- span6 -->

<div class="span3">

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>

</div>
   
  </div> <!-- row -->
