@import "bootstrap.css";


/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
  /*-webkit-text-size-adjust: none;*/
}

body {
  padding-top: 60px; /* gives a padding (distance of 60 px to the top)*/
  font: 12px/15px sans-serif;
  margin: 0;
}
@media (max-width: 979px) { /*when on mobil we remove the padding*/
  body {
    padding-top: 0px;
  }
}

.container {
	padding: 5px 0 0 0;	
	background: white;
	border-bottom: 1px solid #E4E4DF;
}


section {
  overflow: auto;
}


.rotate {

/* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

/* full screen setting*/
:-webkit-full_screen #tabletabPage{
 width: 100%;
 height: 100%;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  /*line-height: 1;*/
  font-weight: normal;
}



/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid rgb(127,127,127);
  
  a {
    color: #FF8C00; /*Orange*/
    &:hover {
      color: #FF8C00; /*Orange*/
    }
  } 
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}



/* header */


div.navbar-inverse div.navbar-inner{
    background-color: #FFFFFF;
    background-image: -mox-linear-gradient(top, #FFFFFF, #FFFFFF);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#006633));
    background-image: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
    background-image: -o-linear-gradient(top, #FFFFFF, #FFFFFF);
    background-image: linear-gradient(to bottom, #FFFFFF, #FFFFFF);
    border-color: #FFFFFF;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFFFFF', GradientType=0);

}


.gravatar {
  float: left;
  margin-right: 10px;
}


/* bottom bar*/
#BottomDiv{
    position:fixed;
    bottom:0;
    background: rgb(127,127,127);
    width: 100%;
	height: 30px;
}

/* Main area */
div#tabletab-staticpages{
	background-color: white;
}

/* tabletab layouts*/


.hero-unit{
  /*background-color: #FFFFFF;
*/
}

/* defining the restaurant manager content*/

.restaurantContent {
  background: rgb(191,191,191); /* gray color*/
  width: 100%;
  height: auto; /*100%;*/
  margin: auto;
  overflow: hidden; /* or overflow:auto; if you want scrollbars */
  padding: 0px;
  border: 1px solid rgb(127,127,127);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/*tabs - tabletab design*/

/*signup page*/
h1#signup{
 float: right;
 padding: 2px;
 font:40px arial,sans-serif;
 color: rgb(166,166,166);
}

p#signup{
 font:20px arial,sans-serif;
 color: black;
}

p#signup-Confirm{
  font:20px arial,sans-serif;
  color: rgb(166,166,166);
}

div.user_signup{
  label{
	font:12px arial,sans-serif;
	 color: black;
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto !important;
  margin-bottom: 15px;
  @include box_sizing;
}


.field_with_errors {
  display: inline;
}

.field_with_errors .message {
  color: #D00;
  padding-left: 5px;
  font-size: 12px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}




