<footer class="footer">
  <small>
    <a href="http://www.tabletab.sg/">TABLETAB</a>
    by Michael Nielsen and Michael Hansen
  </small>
  <nav>
	
    <ul>
	   <li>
		 <% if current_user %>
		    Logged in as <%= current_user.email %>.
		    <%= link_to "Log out", log_out_path %>
		  <% else %>
		    <%= link_to "Sign up", sign_up_path %> or
		    <%= link_to "log in", log_in_path %>
		  <% end %>
		</li>
		<% if not current_user %>
	  	<li><%= link_to " Home ",    root_path %></li>
          <li><%= link_to " Help ",    help_path %></li>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.tabletab.sg/">TABLETAB news</a></li>
      <% end %>
    </ul>
  </nav>
</footer>