<!--
<header class="navbar navbar-fixed-top">
	
  <div class="navbar-inner" >
    <div class="container" >
-->	 	
	<!--
      <%= link_to "TABLETAB", root_path, id: "logo" %>
     --> 

   <!--  
     
    </div>
  </div>
</header>

-->